# Haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.hiedb
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hiefiles
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# macOS
.DS_Store

# Sphinx
_build
_static
